{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
<h2>Edit Product</h2>
<div class="example-wrapper">
{{ form_start(form) }}
    {{ form_row(form.name) }}    {# <select id="meetup_sport" ... #}
    {{ form_row(form.basePrice) }} {# <select id="meetup_position" ... #}
    {# ... #}
{{ form_end(form) }}
    {# {{ form(form) }} #}
</div>
{% endblock %}
