{% extends 'base.html.twig' %}

{% block title %}Reservations List{% endblock %}

{% block body %}

<h2>Reservations List</h2>

<div class="example-wrapper">
    
    <table>
    <tr>
        <th>Product name</th>
        <th>Base Price</th>
        <th>Final Price</th>
        <th colspan=2></th>
    </tr>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.product.name }}</td>
                <td>{{ reservation.basePrice }}</td>
                <td>{{ reservation.finalPrice }}</td>
                <td><a class="btn" href="/edit/editreservation/{{ reservation.id }}">Edit</a></td>
                <td><a class="btn delete" href="/edit/deletereservation/{{ reservation.id }}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
